@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  background-color: #fdfdfd;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
